
/*
	<H1>YOU <B>SHOULD NOT</B> BE HERE! EXIT OUT FROM HERE NOW!</H1>


	Created by: David Morris
	For use only by (except given permission by the creator):
		Team Ektha in CS683 - Software Project Management @ NJIT
		Members:	David Morris
				Eddie Pagan
				Shruthi Shankaran
				Savio Dsouza
	November 15, 2012


	This is not for public use. This is not meant to be replicated
	unless given explicit permission of the creator. Nothing shall
	be touched in this file unless given permission of the creator.
	Duplication for private or public use is strictly prohibited,
	and any persons caught WILL be prosecuted to the maximum extent.

	Copyright 2012

*/

body
{
	background-color: #FFFFFF;

	font-style: normal;
	font-size: 14px;
	font-family: "Arial", "Verdana", "Lucida Console";
	color: #000000;
	text-decoration: none;
	letter-spacing: 0px;
	font-variant: normal;
	font-weight: 100;

	overflow: auto;
}

table
{	
	font-size: 14px;
}



/*   Primary Layout Sections   */
#container
{
	position: relative;

	width: 100%;

	margin: 0px auto;
}




	/*  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  */
	/*  @@@@@@@@@@@@@@@@@@@@@@@@@@@ Header @@@@@@@@@@@@@@@@@@@@@@@@@@@  */
	/*  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  */
	#header
	{
		width: 100%;
		
		margin-bottom: 10px;
		
		text-align: center;

	}

		#header > #banner
		{
			width: 100%;
			
			font-size: 24px;
			text-transform: uppercase;
			
			border-width: 1px;
			border-style: solid;
			
			padding-top: 5px;
			padding-bottom: 5px;
		}
		
			#header > #banner:after
			{
				font-size: 7px;
				content: " \00a0\00a0\00a0 By Ektha";
			}	
		
		#header > #menu
		{
			word-spacing: 10px;
		
			width: 100%;
			
			border-width: 1px;
			border-style: solid;
			
			padding-top: 5px;
			padding-bottom: 5px;
		}
			#header > #menu > b
			{
				font-weight: 700;
			}

	


	/*  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  */
	/*  @@@@@@@@@@@@@@@@@@@@@@@@@@@ Content @@@@@@@@@@@@@@@@@@@@@@@@@@@  */
	/*  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  */
	#content
	{
		width: 78%;

		text-align: left;

		padding: 0px;
		margin-right: 10px;
		margin-bottom: 25px; /* Provide extra space on the bottom of the page */
		
		float: right;
	}

