
/*	NOTE:	#container: whole area
		#header: whole header area
		>	#banner: top portion of #header
		>	#menu: bottom portion of #header
		#sideInput: side bar
		#content: main area for data


	Do NOT touch the CSS unless you know what you are doing!!!
	CSS is fragile, and the page WILL be broken if changed incorrectly!

*/



/*  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  */
/*  @@@@@@@@@@@@@@@@@@@@@@@@@@ Side Input @@@@@@@@@@@@@@@@@@@@@@@@@@  */
/*  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  */

#sideInput
{	
	width: 20%;

	border-width: 1px;
	border-style: solid;

	float: left;
}
	
	#sideInput select
	{
		width: 95%;

		margin: 3%;
	}

	#sideInput label
	{
		margin: 5px;
	}

	#sideInput button
	{
		height: 25px;
		width: 95%;

		margin: 3%;
	}

	#sideInput > #professorScheduler
	{
		margin-bottom: 10px;
	}

	#sideInput > #professorScheduler, #sideInput > #professorPreferences
	{
		width: 93%;

		border-width: 1px;
		border-style: solid;

		margin-left: 3%;
		margin-bottom: 10px;
	}

		#sideInput > #professorScheduler > table
		{
			text-align: center;

			width: 100%;
		}

		#sideInput > * > label
		{
			font-weight: 700;
		}



/*  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  */
/*  @@@@@@@@@@@@@@@@@@@@@@@@@@@ Content @@@@@@@@@@@@@@@@@@@@@@@@@@@  */
/*  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  */

#content > #scheduleText, #content > #professorCalendar
{
	width: 100%;

	border-width: 1px;
	border-style: solid;

	padding: 5px;
	
}

#content > #scheduleText
{
	margin-bottom: 10px;
}

#content > #professorCalendar > table
{
	width: 100%;
}